.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore
*.apk
*.aab
.idea/
.vscode/
*.iml
*.g.dart
*.freezed.dart
